<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="menu.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <menu class="menu-container">
        <div class="menu-logo">
          <a href="#"><img src="../img/logo.png" alt="" /></a>
        </div>
        <div class="menu-content">
          <ul class="menu-list">
            <li class="menu-item">
              <a href="/Home" class="solid-menu-acitve">HOME</a>
            </li>
            <li class="menu-item">
              <a href="/AboutUs">ABOUT US</a>
            </li>
            <li class="menu-item">
              <a href="/Contact">CONTACT</a>
            </li>
          </ul>
        </div>
        <div class="btn-function">
          <div class="sign-in">
            <a href="#" class="btn-signin">SIGN IN</a>
          </div>
        </div>
      </menu>
    </div>
  </body>
</html>
